pydantic==2.12.5
pydantic_core==2.41.5
typing-inspection==0.4.2
nvidia-cuda-runtime-cu12==12.1.105
albumentations==2.0.8
httpcore==1.0.9
opencv-python-headless==4.13.0.92
setuptools==70.2.0
nvidia-nvjitlink-cu12==12.9.86
gitdb==4.0.12
fonttools==4.61.1
kiwisolver==1.4.9
filelock==3.20.0
platformdirs==4.9.4
shellingham==1.5.4
nvidia-cublas-cu12==12.1.3.1
python-dateutil==2.9.0.post0
networkx==3.6.1
nvidia-cufft-cu12==11.0.2.54
click==8.3.1
h11==0.16.0
Jinja2==3.1.6
mpmath==1.3.0
anyio==4.12.1
albucore==0.0.24
triton==3.1.0
matplotlib==3.10.8
annotated-types==0.7.0
nvidia-curand-cu12==10.3.2.106
pyparsing==3.3.2
nvidia-cusolver-cu12==11.4.5.107
nvidia-nccl-cu12==2.21.5
segmentation_models_pytorch==0.5.0
nvidia-cusparse-cu12==12.1.0.106
tifffile==2026.1.28
pillow==12.0.0
protobuf==6.33.6
torch==2.5.1+cu121
numpy==2.3.5
nvidia-nvtx-cu12==12.1.105
cycler==0.12.1
nvidia-cudnn-cu12==9.1.0.70
joblib==1.5.3
PyYAML==6.0.3
requests==2.32.5
scipy==1.17.0
tqdm==4.67.3
stringzilla==4.6.0
scikit-learn==1.8.0
sentry-sdk==2.55.0
nvidia-cuda-cupti-cu12==12.1.105
pip==26.0.1
contourpy==1.3.3
idna==3.11
timm==1.0.24
sympy==1.13.1
httpx==0.28.1
simsimd==6.5.12
safetensors==0.7.0
huggingface_hub==1.4.1
fsspec==2025.12.0
threadpoolctl==3.6.0
GitPython==3.1.46
charset-normalizer==3.4.6
six==1.17.0
MarkupSafe==2.1.5
certifi==2026.1.4
urllib3==2.6.3
einops==0.8.2
nvidia-cuda-nvrtc-cu12==12.1.105
torchvision==0.20.1+cu121
packaging==26.0
typer-slim==0.21.1
hf-xet==1.2.0
smmap==5.0.3
typing_extensions==4.15.0
wandb==0.25.1
